html {
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
  }

body{
  transform-style: preserve-3d;
}

h1{
  margin:0;
}

/* NAV------------- */
/* *{
    box-sizing: border-box;
  }
   */
   header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    font-family: inherit;
  }
  
  
  .navbar {
    position: relative;
    height: 80px;
    width: 100%;
    transition: 0.5s ease;
  }
  
  .navbar .nav {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
    margin-right: 5%;
  }
  
  .navbar .nav .item {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    padding: 5px;
    font-weight: 300;
    line-height: 80px;
    margin-right: 20px;
    transition: 0.5s ease;
  }
  
  .navbar .nav .item .contact {
    display: inline-block;
    background-color: #ffffff;
    height: 40px;
    line-height: 30px;
    padding: 5px;
    border-radius: 2px;
    transition: 0.5s ease;
  }
  
  .navbar .nav .item a {
    text-decoration: none;
    color: inherit;
  }

  /* Active */
  .navbar .nav .item .active{
    /* text-decoration: underline; */
    border-bottom: 3px solid slateblue;
    color: inherit;
  }
  
  .navbar .logo {
    float: left;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5%;
    width: 70px;
    height: 70px;
    background-color: firebrick;
    transition: 0.5s ease;
  }
  
  .navbar .logo img {
    display: none;
  }
  
  .scrolled {
   transition: 0.5s ease;
  }
  
  .scrolled.navbar {
    height: 50px; 
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
  
  }
  
  
  .scrolled.navbar .nav .item {
    line-height: 40px;
    transition: 0.5s ease;
  }
  
  .scrolled.navbar .nav .item .contact {
    display: inline-block;
    background-color: #ffffff;
    height: 40px;
    line-height: 30px;
    padding: 5px;
    border-radius: 2px;
    transition: 0.5s ease;
  }
  
  .scrolled.navbar .logo {
    float: left;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5%;
    width: 40px;
    height: 40px;
    background-color: firebrick;
    transition: 0.5s ease;
  }

  .scrolled.navbar .logo a h1{
    font-size: 1em;
    margin:0;
    transition: 0.5s ease;
  }
  

  /* Sections --------------------------------- */
  .section {
    height: 100vh;
    /* padding-top: 5vh; */
  }

  .inner{

  }
  
  .home {
    background-color: antiquewhite;
    background-image: url(https://images.unsplash.com/photo-1511949860663-92c5c57d48a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-blend-mode: luminosity;
  }

  .home::after {
    /* Display and position the pseudo-element */
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    /* Move the pseudo-element back away from the camera,
     * then scale it back up to fill the viewport.
     * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
    transform: translateZ(-1px) scale(1.5);
    /* Force the background image to fill the whole element. */
    background-size: 100%;
    /* Keep the image from overlapping sibling elements. */
    z-index: -1;
  }

  .about {
    background-color: darkcyan;
  }
  .contact {
    background-color: honeydew;
  }
  .footer {
    height: 10vh;
    color: white;
    background-color: black;
  }

  /* SECTION content -------------------------- */
.home h1{
  font-size: 9vw;
  justify-content: flex-start;
  color: black;
  /* line-height: 3em; */
}

.home .inner h2{
  font-size:2em;
}
.home h2::after{
  content: '|';
  display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

/*Custom cursor animation*/
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.typed-cursor{
  opacity: 0;
  display: none;
}

.home .inner{
  margin: 10%;
  padding: 3%;
  border-bottom: 20px solid white;
  background-color: cornsilk; 
  display: inline-flex;
  content: fit-content;
}

.home .inner img{
  width:50%;
  height: 50%;
}
   