html {
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
  }

body{
  max-width: 100vw;
}

h1{
  margin:0;
}

/* NAV------------- */
*{
    box-sizing: border-box;
  }
  
   header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
    font-family: inherit;
  }
  
  
  .navbar {
    position: fixed;
    height: 80px;
    width: 100vw;
    transition: 0.5s ease;
  }
  
  .navbar .nav {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
    margin-right: 5%;
  }
  
  .navbar .nav .item {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    padding: 5px;
    font-weight: 300;
    line-height: 80px;
    margin-right: 20px;
    transition: 0.5s ease;
  }
  
  .navbar .nav .item .contact {
    display: inline-block;
    background-color: #ffffff;
    height: 40px;
    line-height: 30px;
    padding: 5px;
    border-radius: 2px;
    transition: 0.5s ease;
  }
  
  .navbar .nav .item a {
    text-decoration: none;
    color: inherit;
  }

  /* Active */
  .navbar .nav .item .active{
    /* text-decoration: underline; */
    border-bottom: 3px solid slateblue;
    color: inherit;
  }
  
  .navbar .logo {
    float: left;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5%;
    width: 70px;
    height: 70px;
    background-color: firebrick;
    transition: 0.5s ease;
  }
  
  .navbar .logo img {
    display: none;
  }
  
  .scrolled {
   transition: 0.5s ease;
  }
  
  .scrolled.navbar {
    height: 50px; 
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
  
  }
  
  
  .scrolled.navbar .nav .item {
    line-height: 40px;
    transition: 0.5s ease;
  }
  
  .scrolled.navbar .nav .item .contact {
    display: inline-block;
    background-color: #ffffff;
    height: 40px;
    line-height: 30px;
    padding: 5px;
    border-radius: 2px;
    transition: 0.5s ease;
  }
  
  .scrolled.navbar .logo {
    float: left;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5%;
    width: 40px;
    height: 40px;
    background-color: firebrick;
    transition: 0.5s ease;
  }

  .scrolled.navbar .logo a h1{
    font-size: 1em;
    margin:0;
    transition: 0.5s ease;
  }
  
  /* PAGINATION ------------------ */
  .pagination {
    position:fixed;
    right:20px;
    top: 50%;
    transform: translateY(-50%);
  
    font-size:1.4em;
    z-index: 10;
  }

  .pagination li{
    list-style: none;
  }

  .pagination a {
    display:block;
    height:20px;
    margin-bottom:5px;
    color:#292F36;
    position:relative;
    padding:4px;
  }
  .pagination a.active:after {
    box-shadow:inset 0 0 0 5px;
  }
  .pagination a:hover .hover-text {
    opacity: 1;
  }
  .pagination a:after {
    -webkit-transition:box-shadow 0.5s ease;
    transition:box-shadow 0.5s ease;
    width:10px;
    height:10px;
    display: block;
    border:1px solid;
    border-radius:50%;
    content:'';
    position: absolute;
    margin:auto;
    top:0;
    right:4px;
    bottom:0;
  }
  

  /* Sections --------------------------------- */
  .section {
    height: 100vh !important;
    /* padding-top: 5vh; */
  }

  .inner{

  }
  
  .home {
    background-color: antiquewhite;
    background-image: url(https://images.unsplash.com/photo-1511949860663-92c5c57d48a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-blend-mode: luminosity;
  }


  .about {
    /* background-color: #A9FDAC; */
    background-color: #ffe693;
    background-image: url(https://images.unsplash.com/photo-1536221993589-9edbbca2c7fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-blend-mode: darken;
  }
  .child-is-important{
    background-color: #4ECDC4;
  }
  .services{
    background-color: #FFE66D;
  }

  .contact {
    background-color: honeydew;
  }
  .footer {
    height: 30vh !important;
    color: white;
    background-color: black;
  }

  .footer h1{
    margin: 0;
  }

  /* SECTION content -------------------------- */

  /* HOME */
.home h1{
  font-size: 9vw;
  justify-content: flex-start;
  color: black;
  /* line-height: 3em; */
}

.home .inner h2{
  font-size:2em;
}
.home h2::after{
  content: '|';
  display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

/*Custom cursor animation*/
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.typed-cursor{
  opacity: 0;
  display: none;
}

.home .inner{
  margin: 10%;
  padding: 3%;
  border-bottom: 20px solid white;
  background-color: cornsilk; 
  display: inline-flex;
  content: fit-content;
}

.home .inner img{
  width:50%;
  height: 50%;
}

/* ABOUT */

.about-item{
  padding: 7vh;
  padding-top: 4vh;
}

.about-item h2{
  font-size: 10em;
  font-size-adjust: 10;
  margin-bottom:0;
  color:white;
}

.about-item p{
  font-size: 2.5em;
  font-size-adjust: 10;
  margin:0;
  color: snow;
}

.two-column{
  display: flex;
  flex-direction: row;
}

.two-column h3{
  font-size: 2em;
}

.two-column .accept{
  flex-grow: 1;
}

.two-column .accept li{
  margin: 0;
}

.two-column .other{
  flex-shrink: 5;
  
  padding: 0;
}
.two-column div ul .extra{
  list-style: none;
  margin:0;
  border-left: 10px solid white;
  padding-left: 5px;
}
   

/* CONTACT */

.contact{
  padding: 7vh;
  padding-top: 8vh;
  display: flex;
  flex-direction: row;
}

.contact .contact-info{
  width: 50vw;
}

.contact .contact-info h2{
  font-size: 10em;
  font-size-adjust: 10;
  margin-bottom:0;
}

.contact .map iframe{
  height: 42vw;
  width: 42vw;
}

.contact .contact-info a, p{
  font-size: 5em;
  text-decoration: none;
  color:black;
  margin: 0;
}
.contact .contact-info a{
  border-bottom: 10px solid palegreen;
}

.contact .contact-info li{
  font-size: 2em;
}

.contact .contact-info p::after{
  content: '|';
  display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

/* SOCIAL */

.social {
  padding: 7vh;
  padding-top: 8vh;
  display: flex;
  flex-direction: row;
}

.social .facebook{
  width: 50vw;
  flex-grow: 1;
}

.social .facebook .fb-container{
  margin: 0;
  width: 500px;
}

.social h2{
  font-size: 5em;
  margin-bottom: 0;
}

.social .paypal{
  flex-shrink: 5;
}

.social .paypal p{
  font-size: 3em !important;
}

#paypal-button{
  font-size: 4em;
}

/* FOOTER */

.footer {
  text-align: center;
  padding: 3vw;
}


/* RESPONSIVE ----------------------------- */
@media (max-width: 600px) {
  html, body{
    /* padding-top: 4vh; */
    /* max-width: 100%;
    overflow-x: hidden; */
  }

  .logo{
    display: none !important;
    position: absolute;
  }

  .navbar{
    text-align: center;
  }
  .navbar .nav{
    float: unset;
    padding-top: 1vh;
    display: flex;
    justify-content: space-around;
    padding-right: 10vw;
    padding-left: 10vw;
    margin: 0;
  }

  .navbar .nav .item{
    margin: 0;
  }

  .home{
    /* margin-top: 8vh; */
  }

  .home .inner {
    flex-direction: column;
    padding-top: 5vh;
  }

  .home h1 {
    font-size: 15vw;
  }

  .contact .contact-info h2{
    font-size: 3em;
  
  }

  .contact .contact-info a, p{
    font-size: 1.5em !important;
  }

  .contact .map iframe {
    height: 50vw;
    width: 72vw;
  }

  .section{
    height: 100vh !important;
    flex-direction: column;
  }

  .section h2{
    font-size: 3em;
  }

  .section p{
    font-size: 1.4em !important;
  }

  .social .paypal p{
    font-size: 1em !important;
  }

  .fb-container{
    width: 180px;
  }

  .two-column{
    flex-direction: column;
  }

  .footer{
    height: 60vh !important;
  }
}
